<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>
  
<!-- 모든 서블릿은 여기에 별도의 지시가 없는 한 url로 접근이 안된다. 즉 url로 접근하는 방법을 제시해야 한다.-->
<!-- 서블릿을 생성할때마다 생성해줘야 된다(귀찮음)-->
<servlet>
	<servlet-name>Sample1Servlet</servlet-name><!--이름-->
	<servlet-class>Sample1Servlet</servlet-class><!--위 이름으로 접근할 클래스명, 패키지에 있으면 패키지.클래스명으로 작성 -->
</servlet>
<servlet-mapping>
	<servlet-name>Sample1Servlet</servlet-name>
	<url-pattern>/Sample1.do</url-pattern>
	<!--url은 마음대로 붙일 수 있다.-->
	<!--url과 위의 클래스를 연결하는 작업이다.-->
</servlet-mapping>

<servlet>
	<servlet-name>SignServlet</servlet-name>
	<servlet-class>sign.SignServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SignServlet</servlet-name>
	<url-pattern>/Sign.do</url-pattern>
</servlet-mapping>

</web-app>
